<body>
    <div class="container-fluid solution-background p-5">
        <div class="container">
            <p class="solutions-text ">Solutions to Meet Needs</p>
            <p class="our-platform-text">Our platform blends the AI-ML model with human Workforce</p>
        </div>
        <div class="container">
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Data Collection Platform</p>
                    <p><img src="../assets/NewLP-correct.svg"> End-to-end collection</p>
                    <p><img src="../assets/NewLP-correct.svg"> Indoor and outdoor</p>
                    <p><img src="../assets/NewLP-correct.svg"> Business Data</p>
                    <p><img src="../assets/NewLP-correct.svg"> Survey</p>
                    <p><img src=".../assets/NewLP-correct.svg"> Prime quality Data</p>
                    <p><img src="../assets/NewLP-correct.svg"> Best intelligence experts</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/data-collection-new.png);">
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Image & Video Data Labelling</p>
                    <p><img src="../assets/NewLP-correct.svgng "> Enclose objects in Image</p>
                    <p><img src="../assets/NewLP-correct.svg"> Segmentation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Masking</p>
                    <p><img src="../assets/NewLP-correct.svg"> Comparison</p>
                    <p><img src="../assets/NewLP-correct.svg"> Moderation</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/image-video-new.png);"></div>
                </div>
            </div>
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Speech Data Services</p>
                    <p><img src="../assets/NewLP-correct.svg"> Sound to speech labelling</p>
                    <p><img src="../assets/NewLP-correct.svg"> Quality evaluation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Speech-Text Transcription</p>
                    <p><img src="../assets/NewLP-correct.svg"> Speech Classification</p>
                    <p><img src="../assets/NewLP-correct.svg"> Sample recording</p>
                    <p><img src="../assets/NewLP-correct.svg"> Speech moderation</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/speech-new.png);"></div>
                </div>
            </div>
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Text</p>
                    <p><img src="../assets/NewLP-correct.svg"> Content Creation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Text Classification</p>
                    <p><img src="../assets/NewLP-correct.svg"> Sentiment Analysis</p>
                    <p><img src="../assets/NewLP-correct.svg"> Image to Text Transcription</p>
                    <p><img src="../assets/NewLP-correct.svg"> Text Moderation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Check Content Key-phrase</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/text-new.png);"></div>
                </div>
            </div>
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Geospatial Data</p>
                    <p><img src="../assets/NewLP-correct.svg"> Content Creation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Text Classification</p>
                    <p><img src="../assets/NewLP-correct.svg"> Sentiment Analysis</p>
                    <p><img src="../assets/NewLP-correct.svg"> Image to Text Transcription</p>
                    <p><img src="../assets/NewLP-correct.svg"> Text Moderation</p>
                    <p><img src="../assets/NewLP-correct.svg"> Check Content Key-phrase</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/Geospatial-new.png);"></div>
                </div>
            </div>
            <div class="section">
                <div class="section-body">
                    <p class="Data-collection-text mt-5">Relevance</p>
                    <p><img src="../assets/NewLP-correct.svg"> Frame Locations</p>
                    <p><img src="../assets/NewLP-correct.svg"> Map Conceptualization</p>
                    <p><img src="../assets/NewLP-correct.svg"> Collect each detail</p>
                    <p><img src="../assets/NewLP-correct.svg"> Data Verification</p>
                    <p><img src="../assets/NewLP-correct.svg"> Lanes & traffic Analysis</p>
                    <p><img src="../assets/NewLP-correct.svg"> Information Moderation</p>
                </div>
                <div class="section-image">
                    <div class="section-img-inner" style="background-image: url(../assets/Relevance-new.png);"></div>
                </div>
            </div>
        </div>
    </div>
    
  
</body>

